a.sizeOnHover {
    transition: transform 100ms;
    transform-origin: bottom;
}
  
a.sizeOnHover:hover {
    display:inline-block;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}